.Container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.item {
        margin-bottom: 10px;
        color: black;
            padding: 5px;
            font-weight: 700;
            font-size: 32px;
            line-height: calc(42/36);
            text-align: center;
            letter-spacing: 0.03em;
            text-decoration: none;
}
.item:hover {
 scale: 1.25;
}